name: E2E Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    services:
      redis:
        image: redis:7
        ports: ['6379:6379']
    steps:
      - uses: actions/checkout@v4
      - name: Install
        run: npm ci
      - name: Start services and app
        run: npm run dev & sleep 10
      - name: Run Cypress tests
        uses: cypress-io/github-action@v6
        with:
          browser: chrome
          runTests: true
